@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

:root {
    --branco : #F6F6F6;
    --rosa-princiapl : #A80359;
    --rosa-detalhes : #870B3B;
    --roxo : #4F1A46;
    --laranja : #E55733;
    --cinza : #393436;
}