.history {
    background-color: var(--branco);
    position: relative;
}

.history p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

/* The actual timeline (the vertical ruler) */
#timeline {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 100px 80px;
}

/* The actual timeline (the vertical ruler) */
.line-timeline{
    position: absolute;
    height: 100%;
    width: 6px;
    background-color: #393436;
    left: calc(50vw - 3px);
    top: 0;
    border-radius: 10px;
}

.top-circle{
    background-color: var(--cinza);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    top: -25px;
    left: calc(50vw - 25px);
    position: absolute;
    
}
.bottom-circle{
    background-color: var(--cinza);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    top: calc(100% - 25px);
    left: calc(50vw - 25px);
    position: absolute;
}

/* Container around content */
.container-timeline {
    background-color: inherit;
    width: 100%;
    border-radius: 50px 0px;
    margin: 20px 0px;
}

/* Place the container to the left */

/* Place the container to the right */
.right {
    display: flex;
    justify-content: start
}
.left{
    display: flex;
    justify-content: end;
}

/* The actual content */
.content-timeline-left{
    position: relative;
    width: 30vw;
    margin: 40px 0px;
    margin-right: calc(50% + 50px);
    text-align: justify;
    background-color: #A80359;
    color: #F6F6F6;
    line-height: normal;
    border-radius: 50px 0px;
    padding: 20px 50px 15px 50px;
}
.content-timeline-right{
    position: relative;
    width: 30vw;
    margin: 40px 0px;
    margin-left: calc(50% + 50px);
    text-align: justify;
    background-color: #A80359;
    color: #F6F6F6;
    line-height: normal;
    border-radius: 0px 50px;
    padding: 20px 50px 15px 50px;
}

.imageLeft {
    right: -105px;
}

.imageRight {
    left: -105px;
}

.background-img-timeline{
    position: absolute;
    width: 210px;
    height: 210px;
    background-color: #A80359;
    top: -130px;
    border-radius: 50%;
    z-index: 1;
}

.background-img-timeline img {
    width: 200px;
    height: 200px;
    position: relative;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    z-index: 1;
}

.titleRight {
    margin: 0 0 0 100px;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
}

.subtitleRight {
    margin: 0 0 30px 100px;
    font-weight: bold;
    font-size: 1rem;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
}

.titleLeft {
    margin: 4px 0 0;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}

.subtitleLeft {
    margin: 0 0 30px 0;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.content-timeline-left p, .content-timeline-right p{
   font-size: 0.95rem;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 900px) {
    #timeline{
        justify-content: center;
        align-items: center;
        padding: 100px 0;
    }

    /* Full-width containers */
    .container-timeline{
        width: 80vw;
        margin: 50px auto;
    }

    .right, .left {
        justify-content: center;
        align-items: center;
    }

    .content-timeline-left, .content-timeline-right{
        margin-left: 0;
        margin-right: 0;
        border-radius: 50px 50px;
        width: 60vw;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
    }

    .background-img-timeline{
        position: absolute;
        left: calc(50% - 80px);
        width: 160px;
        height: 160px;
        
    }

    .background-img-timeline img {
        width: 150px;
        height: 150px;
    }

    /* Make all right containers behave like the left ones */
    .right{
        left: 0px;
    }


    .titleRight {
        margin: 30px 0 4px 0px;
        text-align: center;
    }

    .subtitleRight {
        margin: 8px 0 8px 0px;
        text-align: center;
    }

    .titleLeft {
        margin: 30px 0 4px 0px;
        text-align: center;
    }

    .subtitleLeft {
        margin: 0 0 4px 0px;
        text-align: center;
    }
}

@media screen and (max-width: 500px){
    .left{
        left: -20%;
    }
    .right{
        left: -20%;
    }
}